{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist:</h2>

        <hr class="my-4">
        {{ message }}
        {% for item in list %}
            <hr class="my-4">
            <div><h4><a href="listings/{{ item.listingId.id }}">{{ item.listingId.title }}</a></h4></div>
            <div class="row">
            <div class="col-md-3">
            <img src="{{ item.listingId.picture }}" alt="{{ item.listingId.title }}" style="width:150px;height:150px;" />
            </div>
            <div class="col-md-4">
            <div class="row"><b>Category:&nbsp;</b> {{ item.listingId.category }}</div>
            <div class="row"><b>Current Price:&nbsp;</b>${{ item.bidId.currentPrice }}</div>
            <div class="row"><b>Description:&nbsp;</b> {{ item.listingId.description }} </div>
            </div>
            </div>

        {% endfor %}
        
{% endblock %}